n8n/workflow.json
{
  "name": "Content Transformation Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "New Source Doc (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"source_text\": $json.body.source_text } }}",
        "options": {}
      },
      "id": "call-agent-api",
      "name": "Run Content Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}"
      },
      "id": "respond",
      "name": "Return Draft",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "New Source Doc (Webhook)": {
      "main": [
        [
          {
            "node": "Run Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Content Agent": {
      "main": [
        [
          {
            "node": "Return Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
